
.todo-input{
  display: flex;
  box-shadow: inset 0 -2px 1px rgb(0 0 0 / 3%);
}

.togle-all {
  top: 16px;
  left: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  border: none;
  opacity: 0;
  position: absolute;
  z-index: 999;
}

.togle-all:checked + .togle-all-label {
  color: #737373;
}

.togle-all-label {
  cursor: default;
  font-size: 22px;
  color: #e6e6e6;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}


.toggle-all+label:before {
  font-size: 22px;
  color: #e6e6e6;
  padding: 10px 27px 10px 27px;
}

.toggle-all:checked + label:before {
	color: #737373;
}

.new-todo {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-left: 40px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  position: relative;
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  color: inherit;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  outline: none;
}

.new-todo::placeholder{
  opacity: 20%;
}